.idea/*
*workspace.xml
*.pyc
*ini
.DS_Store
.cache/
.gitignore.orig
.pylintrc
celerybeat-schedule
Shifty/checking_calendar.py
dump.rdb
init-redis-rabbit-celery.sh
media/
Dockerfile
docker-compose.yml
run_celery.sh
locustfile.py
