{% extends 'manager/base.html' %}

{% block title %}
    <title>Add Employees</title>
{% endblock %}

{% block comp_name%}
{{ user.profile.business }}
{% endblock %}

{% block content %}


    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-6 col-xs-offset-4">
                <h2>Add Employees to {{ user.profile.business }}</h2>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-12 col-xs-offset-2">
                <p>First, Users will be created in the system for your employees.
                Second, emails will be sent to them with their credentials so they will be able to login.</p>
            </div>
        </div>
        <div class="row">
            <form action="." id="bookForm" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group static-group">
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="employee_0_firstName" placeholder="First Name" />
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="employee_0_lastName" placeholder="Last Name" />
                    </div>
                    <div class="col-xs-3">
                        <input type="email" class="form-control" name="employee_0_email" placeholder="Email" />
                    </div>
                    <div class="col-xs-2">
                        <select name="employee_0_role" class="form-control">
                              <option value="WA">Waiter</option>
                              <option value="BT">Bartender</option>
                              <option value="CO">Cook</option>
                        </select>
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="btn btn-info addButton"><span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>

                <!-- The template for adding new field -->


                <div class="form-group submit-group" style="margin-top: 30px">
                    <div class="col-xs-5 col-xs-offset-5">
                        <button type="submit" class="btn btn-lg btn-success btn-submit"
                                data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Request">
                            Submit</button>
                    </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0"
                       aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only"></span>
                      Sending Mails...
                  </div>
                </div>
            </form>
                 <div class="form-group hide" id="bookTemplate">
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" />
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" />
                    </div>
                    <div class="col-xs-3">
                        <input type="email" class="form-control" name="email" placeholder="Email" />
                    </div>
                     <div class="col-xs-2">
                        <select name="role" class="form-control" id="role_select">
                              <option value="WA">Waiter</option>
                              <option value="BT">Bartender</option>
                              <option value="CO">Cook</option>
                        </select>
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="btn btn-danger removeButton">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
$(document).ready(function() {

    var employeeIndex = 0;

    // Add button click handler
    $('.addButton').click(function() {
        employeeIndex++;
        var $template = $('#bookTemplate'),
            $clone    = $template
                            .clone()
                            .removeClass('hide')
                            .removeAttr('id')
                            .attr('data-book-index', employeeIndex)
                            .insertBefore($(".submit-group"));

        // Update the name attributes
        $clone
            .find('[class="counter"]').text(employeeIndex+1).end()
            .find('[name="firstName"]').attr('name', 'employee_' + employeeIndex + '_firstName').end()
            .find('[name="lastName"]').attr('name', 'employee_' + employeeIndex + '_lastName').end()
            .find('[name="email"]').attr('name', 'employee_' + employeeIndex + '_email').end()
            .find('[name="role"]').attr('name', 'employee_' + employeeIndex + '_role').end();
    });

    // Remove button click handler
    $('.container').on('click', '.removeButton', function() {
        var $row  = $(this).parents('.form-group');

        // Remove element containing the fields
        $row.remove();
    });

    $('.btn-submit').on('click', function() {
        setTimeout(doProgress, 200);
    });
    function doProgress() {
        var i = 0;
        var counterBack = setInterval(function(){
          i++;
          if (i <= 100){
            $('.progress-bar').css('width', i+'%');
          } else {
            clearInterval(counterBack);
          }

        }, (employeeIndex+1) * 30);

    }
});
    </script>
{% endblock %}