{% extends 'manager/base.html' %}

{% block title %}
    <title>Add Employees</title>
{% endblock %}

{% block comp_name%}
{{ user.profile.business }}
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="container">
        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-6 col-xs-offset-4">
                <h2>Add Employees to {{ user.profile.business }}</h2>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-12 col-xs-offset-2">
                <small>First, Users will be created in the system for your employees.
                Second, emails will be sent to them with their credentials so they will be able to login.</small>
            </div>
        </div>
        <div class="row">
            <form id="bookForm" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-1">
                        <span>1</span>
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="employee_0_firstName" placeholder="First Name" />
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="employee_0_lastName" placeholder="Last Name" />
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" name="employee_0_email" placeholder="Email" />
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="btn btn-info addButton"><span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>

                <!-- The template for adding new field -->
                <div class="form-group hide" id="bookTemplate">
                    <div class="col-xs-1">
                        <span class="counter">2</span>
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" />
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" />
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" name="email" placeholder="Email" />
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="btn btn-danger removeButton"><span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 30px">
                    <div class="col-xs-5 col-xs-offset-5">
                        <button type="submit" class="btn btn-lg btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
$(document).ready(function() {

    var employeeIndex = 0;

        // Add button click handler
        $('.addButton').click(function() {
            employeeIndex++;
            var $template = $('#bookTemplate'),
                $clone    = $template
                                .clone()
                                .removeClass('hide')
                                .removeAttr('id')
                                .attr('data-book-index', employeeIndex)
                                .insertBefore($template);

            // Update the name attributes
            $clone
                .find('[class="counter"]').text(employeeIndex+1).end()
                .find('[name="firstName"]').attr('name', 'employee_' + employeeIndex + '_firstName').end()
                .find('[name="lastName"]').attr('name', 'employee_' + employeeIndex + '_lastName').end()
                .find('[name="email"]').attr('name', 'employee_' + employeeIndex + '_email').end();
        })

        // Remove button click handler
        $('.container').on('click', '.removeButton', function() {
            var $row  = $(this).parents('.form-group');

            // Remove element containing the fields
            $row.remove();
        });
});
    </script>
{% endblock %}