{% extends 'manager/base.html' %}

{% block title %}
<title>Shifty Bitch</title>
{% endblock %}

{% block comp_name %}
    <i>{{ user.profile.business.business_name }}</i> dashboard
{% endblock %}

{% block content %}

<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="http://osmhotels.com//assets/check-true.jpg">
        <h3>Dear, {{ user.username }}</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for registering <i>{{ user.profile.business }}</i> to Shifty.
        It's time to add your employees :)</p>
        <a href="" class="btn btn-success">     Add employees      </a>
    <br><br>
        </div>

	</div>
</div>

{% endblock %}