{% extends "manager/base.html" %}

{% block title %}
<title>Edit business</title>
{% endblock %}

{% block comp_name %}
{{ user.profile.business }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading head-custom">
                    <h3 class="panel-title" style="display: inline">Edit {{ user.profile.business }} details</h3>
                    <a href="{% url 'home' %}" style="float: right">Back to dashboard</a>
                </div>
                <div class="panel-body" >
                    <form action="." method="post">
                        {% csrf_token %}
                    {{ business_form.as_p }}
                    <hr>
                    <div class="text-center">
                    <input type="submit" class="btn btn-info" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}