{% extends 'manager/base.html' %}

{% block title %}
    <title>Manage Employees</title>
{% endblock %}

{% block style %}
<style>
    .inline{
        display: inline-block;
    }
    .header-row{
        margin-bottom: 40px ;
        text-align: center;
    }
    #broadcast_button{
        float: right;
    }
</style>
{% endblock %}

{% block comp_name%}
{{ user.profile.business }}
{% endblock %}

{% block content %}

    <div class="container">
      <div class="row header-row">
          <h2 class="inline">Manage Employees</h2>
          <button type="button" id="broadcast_button" class="btn btn-group-md btn-success">
              Broadcast Message</button>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="hidden">Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Contact</th>
            <th># of days at {{ curr_business }}</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>

            {% for employee in employees %}
              <tr>
                <td class="username hidden">{{ employee.user.username }}</td>
                <td>{{ employee.user.first_name }}</td>
                <td>{{ employee.user.last_name }}</td>
                {% if employee.role == 'MA' %}
                    <td class="manager-cell">{{ employee.get_role_display }}</td>
                {% else %}
                    <td>{{ employee.get_role_display }}</td>
                {% endif %}
                {% if employee.birth_date %}
                    <td>{{ employee.birth_date }} ({{ employee.get_age }} y/o)</td>
                {% else %}
                    <td>No data</td>
                {% endif %}
                 {% if employee.home_address %}
                    <td>{{ employee.home_address }}</td>
                {% else %}
                    <td>No data</td>
                {% endif %}
                {% if employee.phone_num %}
                    <td>{{ employee.phone_num }}</td>
                {% else %}
                    <td>No data</td>
                {% endif %}
                {% if employee.started_work_date %}
                    <td>{{ employee.get_employment_time}} days (since {{employee.started_work_date }})</td>
                {% else %}
                    <td>No data</td>
                {% endif %}
                <td><p data-placement="top" data-toggle="tooltip" title="Edit">
                    <button class="btn btn-primary btn-xs" data-title="Edit">
                        <span class="glyphicon glyphicon-pencil"></span></button></p></td>
                <td><p data-placement="top" data-toggle="tooltip" title="Delete">
                    <button class="btn btn-danger btn-xs" data-title="Delete">
                        <span class="glyphicon glyphicon-trash"></span></button></p></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                </div>
                <form action="{% url 'edit_profile_form' %}" method="post">
                    <div class="modal-body">
                        <div id="form_here"></div>
                    </div>
                    <div class="modal-footer ">
                        <input type="submit" class="btn btn-warning btn-lg" value="Edit Profile" style="width: 100%;">

                    </div>
                </form>
            </div>
        </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
  </div>



    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading"></h4>
      </div>
          <div class="modal-body">

       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" id="del_btn"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="broadcast" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                </div>
                <form action="{% url 'broadcast_msg' %}" method="post">
                    <div class="modal-body">
                        <div id="form_here"></div>
                    </div>
                    <div class="modal-footer ">
                    <button type="submit" class="btn btn-warning btn-lg btn-submit" style="width: 100%;">
                        Send </button>
                    <div class="progress" style="display: none">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0"
                               aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only"></span>
                              Creating <span id="percent"></span>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
  </div>
{% endblock %}

{% block javascript %}

    <script>

        $(document).ready(function () {

            var curr_modal_username = "";

            handle_manager_row();

            $('.btn-danger').click(function () {
                curr_modal_username = $(this).parents('td').siblings(":first").text();
                show_delete_modal(curr_modal_username);
            });
            $('.btn-primary').click(function () {
                curr_modal_username = $(this).parents('td').siblings(":first").text();
                show_edit_modal(curr_modal_username);
            });

            $('#del_btn').click(function () {
                del_user(curr_modal_username);
            });

            $('#broadcast_button').click(function () {
                show_broadcast_modal();
            });

            $('.btn-submit').on('click', function() {
                $('.btn-submit').hide();
                $('.progress').show();
                setTimeout(doProgress, 200);
            });
        });

        function handle_manager_row() {
            var $manager_row  = $('.manager-cell').parents('tr');
            $manager_row.css('background-color', 'lightgreen');
            $manager_row.find('.btn-xs').hide();
        }

        function show_edit_modal(username) {
            $.ajax({
              url: "{% url 'edit_profile_form' %}",
              type: "get", //send it through get method
              data: {
                username: username,
              },
              success: function(response) {
                            $('#edit').find('.modal-body').html(response);
                            $('#edit').find('#Heading').html('Edit ' + username + ' details');
                            $('#edit').modal('show');
              },
              error: function(xhr) {
                //Do Something to handle error
              }
            });
        }

        function show_delete_modal(username){
            $('#delete').find('h4').text("Delete " + username + " from your business");
            $('#delete').modal('show');
        }

        function show_broadcast_modal(username) {
            $.ajax({
              url: "{% url 'broadcast_msg' %}",
              type: "get", //send it through get method
              data: {
              },
              success: function(response) {
                            $('#broadcast').find('.modal-body').html(response);
                            $('#broadcast').find('#Heading').html('Broadcast message to all your employees');
                            $('#broadcast').modal('show');
              },
              error: function(xhr) {
                //Do Something to handle error
              }
            });
        }

        function del_user(username) {
            $.ajax({
              url: "{% url 'delete_user' %}",
              type: "post", //send it through get method
              data: {
                username: username
              },
              headers: {
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              success: function(response){
                        window.location.reload();
                    }
            });
        }
        function doProgress() {
            var employeeIndex = {{ employees | length }};
            var i = 0;
            var counterBack = setInterval(function(){
              i++;
              if (i <= 100){
                $('.progress-bar').css('width', i+'%');
              } else {
                clearInterval(counterBack);
              }
              var is_plural_mail;
              if (employeeIndex > 0){
                  is_plural_mail = "messages";
              }else{
                  is_plural_mail = "message";
              }
              $("#percent").text((employeeIndex) + " " + is_plural_mail);

            }, (employeeIndex+1) * 10);

        }
    </script>

{% endblock %}
