{% extends "manager/base.html" %}
{% load staticfiles %}

{% block title %}
    <title>New shift</title>
{% endblock %}

{% block comp_name %}
    {{ user.profile.business }}
{% endblock %}

{% block style %}
    <style>
        .report-btn {
            margin-left: 20px;
        }

        .modal-dialog {
            width: 1000px;
        }

        .modal-body .form-horizontal .col-sm-2,
        .modal-body .form-horizontal .col-sm-10 {
            width: 100%
        }

        .modal-body .form-horizontal .control-label {
            text-align: left;
        }

        .modal-body .form-horizontal .col-sm-offset-2 {
            margin-left: 15px;
        }

        .hideDiv {
            display: none;
            margin-top: 20px;
        }

    </style>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>{{ form.errors }}</strong>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading head-custom">
                        <h3 class="panel-title" style="display: inline">New shift for next week ({{ week_range }})</h3>
                        <a href="{% url 'home' %}" style="float: right">Back to dashboard</a>
                    </div>
                    <div class="panel-body">
                        {% if holiday %}
                            <div class="alert alert-danger">
                                <strong>Notice - {{ holiday }} holiday is on this date</strong>
                            </div>
                        {% endif %}
                        <form action="." method="post" id="theForm" novalidate>
                            {% csrf_token %}
                            {% for field in form %}
                                {% if 'day' in field.name or 'hour' in field.name %}
                                    <p>
                                        <label><b>{{ field.label }}</b></label> {{ field }}
                                        <small>{{ field.help_text }}</small>
                                    </p>
                                    {% if 'end_' in field.name %}
                                        <hr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="savedBtn" type="button" class="btn btn-primary btn-lg btn-block">Saved shift slot</button>
                                </div>
                                <div class="col-sm-4">
                                    <button id="customBtn" type="button" class="btn btn-success btn-lg btn-block">Custom shift slot</button>
                                </div>
                            </div>
                            <div id="customShiftDiv" class="hideDiv">
                                {% for field in form %}
                                    {% if 'num' in field.name or 'mandatory' in field.name or 'save' in field.name %}
                                        <p>
                                            <label><b>{{ field.label }}</b></label> {{ field }}
                                            <small>{{ field.help_text }}</small>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div id="savedShiftDiv" class="hideDiv">
                                {% for field in form %}
                                    {% if 'name' in field.name %}
                                        <p>
                                            <label><b>{{ field.label }}</b></label> {{ field }}
                                            <small>{{ field.help_text }}</small>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="text-center">
                                <input type="submit" class="btn btn-info btn-lg" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="constraintModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="Heading">
                        Modal title
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {% for group in form.get_constraint_groups %}
                        <div class="row">
                            <p>
                            <div class="form-group modal-form-here">
                                {% for cont_field in form %}
                                    {% if group in cont_field.name %}
                                        <div class="col-sm-3">
                                            {{ cont_field }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            </p>
                        </div>
                    {% endfor %}
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="removeModalFields"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary"
                            data-dismiss="modal">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascript %}

    <script src="{% static 'js/new_shift_slot.js' %}" type="text/javascript"></script>

{% endblock %}
