{% extends "manager/base.html" %}

{% block title %}
    <title>New shift</title>
{% endblock %}

{% block comp_name %}
    {{ user.profile.business }}
{% endblock %}

{% block style %}
    <style>
        .report-btn {
            margin-left: 20px;
        }

        .modal-dialog {
            width: 1000px;
        }

        .modal-body .form-horizontal .col-sm-2,
        .modal-body .form-horizontal .col-sm-10 {
            width: 100%
        }

        .modal-body .form-horizontal .control-label {
            text-align: left;
        }

        .modal-body .form-horizontal .col-sm-offset-2 {
            margin-left: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading head-custom">
                        <h3 class="panel-title" style="display: inline">New shift for next week ({{ week_range }})</h3>
                        <a href="{% url 'home' %}" style="float: right">Back to dashboard</a>
                    </div>
                    <div class="panel-body">
                        <form action="." method="post" id="theForm">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if 'constraint' not in field.name %}
                                    <p>
                                        <label><b>{{ field.label }}</b></label> {{ field }}
                                    </p>
                                {% endif %}
                            {% endfor %}
                            <hr>
                            <div class="text-center">
                                <input type="submit" class="btn btn-info btn-lg" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="constraintModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="Heading">
                        Modal title
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                {% for group in form.get_constraint_groups %}
                        <div class="row">
                            <div class="form-group modal-form-here">
                                {% for cont_field in form %}
                                    {% if group in cont_field.name  %}
                                        <div class="col-sm-3">
                                            {{ cont_field }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                {% endfor %}
                </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function () {

            $('.attach-con').after(
                '<button type="button" class="btn btn-warning btn-sm report-btn">' +
                'Add constraints</button>');

            $('.btn-warning').click(function () {
                var $btnClicked = $(this);
                var curr_modal_role = getRoleBtn($btnClicked);
                var $constraintModal = $('#constraintModal');
                hideNotRoleFields(curr_modal_role);
{#                limit_apply_on(curr_modal_role); limit the role apply on fields to num of role#}
                $constraintModal.find('#Heading').html(curr_modal_role + ' constraints');
                $constraintModal.modal('show');
            });
        });

        function getRoleBtn($btnClicked) {
            var btn_sibling_input_name = $btnClicked.siblings("label").text();
            var text_parts = btn_sibling_input_name.split(" ");
            var role_plural = text_parts[2];
            return role_plural.substring(0, role_plural.length - 1);
        }
        function hideNotRoleFields(roleNotToHide) {
            var all_modal_fields = $('[form="theForm"]');
            all_modal_fields.each(function () {
                if(!$(this).attr('name').includes(roleNotToHide) && $(this).attr('name').includes('__')){
                    $(this).hide();
                }else{
                    $(this).show();
                }
            })
        }
    </script>

{% endblock %}
