{% extends "manager/base.html" %}

{% block title %}
<title>Register nw business</title>
{% endblock %}

{% block style %}
    <style>
        a.my-tool-tip, a.my-tool-tip:hover, a.my-tool-tip:visited {
            color: black;
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline">Register yor business to Shifty</h3>
                    <a href="/login" style="float: right">Already registered?</a>
                </div>
                <div class="panel-body" >
                    <form action="." method="post">
                        {% csrf_token %}
                    {{ manager_form.as_p }}
                    <hr>
                    {{ business_form.as_p }}
                    <hr>
                    <div class="text-center">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            var tooltip_desc = "How your employees get their tip? Whether individually or get a portion from grouped amount";
            $("label[for='id_tip_method']").
            after('<a class="my-tool-tip" data-toggle="tooltip" data-placement="right" title="' + tooltip_desc + '">' +
                '<i class="glyphicon glyphicon-info-sign"></i> </a>');
            $("a.my-tool-tip").tooltip();
        })
    </script>
{% endblock %}