{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}

    <!-- Core CSS - Include with every page -->
    {#        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/easycal.css' %}" rel="stylesheet">

{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
    <script src="https://use.fontawesome.com/f24a4ddffc.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "{% url 'duration_data' %}", //from template
                type: "get", //send it through get method,
                success: display_duration,
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        });
        function display_duration(durationData) {
            var walkingText = durationData.walking;
            var drivingText = durationData.driving;
            var walkingUrl = durationData.walking_url;
            var drivingUrl = durationData.driving_url;

            $("#etaText").text("ETAs to business:");
            $("#duration-drive").html('<a class= "duration-text" target="_blank" href="' + drivingUrl + '">' +
                drivingText + '</a>');
            $("#duration-walk").html('<a class= "duration-text" target="_blank" href="' + walkingUrl + '">' +
                walkingText + '</a>');
        }
    </script>
    {% block javascript %}
    {% endblock %}


    <style>
        .panel {
            border-width: 1px;
        }

        .head-custom {
            background-color: lightblue !important;
        }

        a {
            color: #1c699d;
        }

        .navbar-default, .navbar-brand {
            background-color: mediumseagreen;
            border-color: mediumseagreen;
            color: black !important;
        }

        input[type=submit] {
            width: 15em;
        }

        hr {
            border-width: 4px
        }

        .navbar-text {
            padding-right: 20px;
        }

        .duration-text {
            color: yellow;
        }

        #etaText {
            color: white;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% block comp_name %}Shifty{% endblock %}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ user.username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{% url 'edit_profile' %}">Edit Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text navbar-right"><i class="fa fa-blind fa-walk fa-lg fa-inverse"></i>
                    <strong id="duration-walk" class="duration-text"></strong>
                </span>
            <span class="navbar-text navbar-right"><i class="fa fa-car fa-lg fa-inverse"></i>
                    <strong id="duration-drive" class="duration-text"></strong>
                </span>
            <span class="navbar-text navbar-right">
                    <p id="etaText"></p>
                </span>
        </div>
    </div>
</nav>

{% if messages %}
    {% for msg in messages %}
        {% if msg.tags == 'error' %}
            <div class="alert alert-danger">
                <strong>{{ msg| escape }}</strong>
            </div>
        {% else %}
            <div class="alert alert-success">
                <strong>{{ msg| escape }}</strong>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% block content %}
{% endblock %}


</body>
</html>
