{% extends 'employee/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Shifty Bitch</title>
{% endblock %}

{% block comp_name %}
    <b>{{ user.profile.business.business_name }}</b> employee dashboard
{% endblock %}

{% block style %}
    <style>

        h3, h4, p, h5, .slotRows {
            text-align: center;
        }

        .panel {
            text-align: center;
        }

        #timerH {
            color: red;
        }

        .not-active {
            pointer-events: none;
            cursor: default;

        }

        .legend {
            padding: 3px;
            border-radius: 5px;
        }

        .legend1 {
            background-color: mediumseagreen;
            color: white;
        }

        .legend2 {
            background-color: darkgrey;
            color: black;
        }

        .success {
            color: green;
        }
        .fail {
            color: red;
        }
        .accept-step-1 {
            background-color: #79aec8;
        }
        .accept-step-2 {
            background-color: darkgreen;
        }
        .accept-step--1, .accept-step--2 {
            background-color: red;
        }
    </style>
{% endblock %}

{% block content %}

    {% if messages %}
    {% endif %}

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#current">Current shifts</a></li>
            <li><a data-toggle="tab" href="#requests" id="reqId" title="asd,"
                   {% if not request_enabled %}class="not-active"{% endif %}>Shift Requests
                {% if request_enabled %}<span class="label label-success">Enabled</span>
                {% else %}<span class="label label-danger">Disabled
                    {% if not deadline_date %}(deadline){% endif %}
                    {% if generation != '0' %}(generated){% endif %}
                         </span>
                {% endif %}
            </a></li>
            <li><a data-toggle="tab" href="#previous">Previous shifts</a></li>
            <li><a data-toggle="tab" href="#swaps">Shift swaps
                {% if swap_cnt > 0 %}
                    <span id="swapBadge" class="badge badge-light">{{ swap_cnt }}</span>
                {% endif %}
            </a></li>
            <li class="pull-right"><a href="{% url 'menu_test_main' %}">Menu test</a></li>
            <li><a data-toggle="tab" href="#messages">Manager Messages
                {% if new_messages > 0 %}
                    <span id="msgsBadge" class="badge badge-light">{{ new_messages }}</span>
                {% endif %}
            </a></li>
        </ul>
        <div class="tab-content">
            <div id="current" class="tab-pane fade in active">
                <div class="row">
                    <h3>Shifts for current week - <i>{{ curr_week_str }}</i></h3>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-2">
                        <span class="legend legend1">You're in it</span>
                        <span class="legend legend2">You're not</span>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div id="calDiv"></div>
                </div>
                <div class="modal fade" id="shiftModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Shift employees</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <input type="hidden" name="shiftId" value="">
                            <div id="shiftModalBody" class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="requests" class="tab-pane fade">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3">
                            <h3>Request for next week</h3>
                        </div>
                        <div class="col-md-4">
                            <strong>
                                <small id="timerH" style="margin-top: 20px"></small>
                            </strong>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col-md-5">
                            <h4>
                                New Request
                                <small>This will override existing request</small>
                            </h4>
                            <div class="slotRows"></div>
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <h4>
                                Current request
                                <small>Mandatory slots will be added automatically</small>
                            </h4>
                            {% if got_request_slots %}
                                <ul class="list-group">
                                    {% for slot in got_request_slots %}
                                        <li class="list-group-item">{{ slot }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div id="previous" class="tab-pane fade">
            </div>

            <div id="swaps" class="tab-pane fade">
                <div class="container" style="margin-top: 20px">
                    <h3>Open Swap Requests</h3>
                    <div id="openSwaps"></div>
                    <div style="text-align: center; margin-top: 20px">
                        <button class="btn btn-lg btn-primary" id="toggleClosed">Show Closed</button>
                    </div>
                    <hr>
                    <div id="closedSwaps" style="margin-top: 30px"></div>
                </div>
            </div>

            <div id="messages" class="tab-pane fade">
                <div class="container" style="margin-top: 20px">
                    <h3>New Messages</h3>
                    <div id="newMessages"></div>
                    <div style="text-align: center; margin-top: 20px">
                        <button class="btn btn-lg btn-primary" id="toggleOld">Show old</button>
                    </div>
                    <div id="oldMessages"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" aria-hidden="true" id="suggestionsModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Welcome to Shifty</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Some suggestions</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit profile</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Later</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var csrf_token = "{{ csrf_token }}";
        var next_slots_url = "{% url 'slots_request' %}";
        var current_shifts_url = "{% url 'get_current_shifts' %}";
        var shift_employees_url = "{% url 'slot_employees' 0%}";
        var prev_shifts_url = "{% url 'prev_shifts' %}";
        var swapRequstUrl = "{% url 'ask_shift_swap' %}";
        var swapRequestsUrl = "{% url 'get_swap_requests' %}";
        var getManagerMessagesUrl = "{% url 'manager_messages' %}";
        var handle_swap_request_url = "{% url 'respond_swap_request' %}";
        var deadline_date = "{{ deadline_date }}";
        var start_date = "{{ start_date }}";
        var first_login = "{{ first_login }}";
        var new_messages = "{{ new_messages }}";
    </script>
    <script src="{% static 'js/employee/home.js' %}" type="text/javascript"></script>
    {#  calendar resources  #}
    <script src="{% static 'js/easycal.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.countdown.js' %}" type="text/javascript"></script>
{% endblock %}