{% if not is_new %}
    <h3>Old Messages</h3>
{% endif %}
{% if manager_msgs %}
    {% for msg in manager_msgs %}
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="display: inline">{{ msg.subject }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ msg.get_split_msg.0 }}<br>{{ msg.get_split_msg.1 }}
                    </div>
                    <div class="panel-footer">
                        <span class="hidden-id" style="visibility: hidden">{{ msg.id }}</span>
                        <span class="timestamp"> {{ msg.sent_time }} </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div style="text-align: center; margin-top: 20px">
            {% if is_new %}
                No new messages found
            {% else %}
                No old messages found
            {% endif %}
    </div>
{% endif %}