<div class="col-md-7">
    <h5>Choose non-mandatory slots</h5>
    <form action="{% url 'slots_request' %}" method="post">
        <div class="form-group" style="margin-left: 30px">
            {% csrf_token %}
            <div class="row">
                {{ form.requested_slots }}
            </div>
            <div class="row">
                <strong>OR</strong>
            </div>
            <div class="row">
                {{ form.is_automatic.help_text }} {{ form.is_automatic }}
            </div>
            <div class="row">
                <input type="submit" class="btn btn-success btn-lg" value="Submit"/>
            </div>
        </div>
    </form>
</div>
<div class="col-md-4">
    <h5>current request</h5>
    <div>
        <ul class="list-group">
            {% for slot in existing_slots %}
                <li class="list-group-item">{{ slot }}</li>
            {% endfor %}
        </ul>
    </div>
</div>