{% if swap_requests %}
    {% for swap_request in swap_requests %}
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="panel panel-default" style="text-align: center">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="display: inline">Swap Request</h3>
                        {% if user.profile == swap_request.responder %}
                        <div style="float: right">
                            <button type="button" class="btn btn-xs btn-success approve"><span
                                    class="glyphicon glyphicon-ok-sign"></span> Approve
                            </button>
                            <button type="button" class="btn btn-xs btn-danger reject"><span
                                    class="glyphicon glyphicon-remove"></span> Reject
                            </button>
                            <i class="fa fa-spinner fa-spin"
                               style="font-size:18px; margin-left: 10px; display: none"></i>
                        </div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <strong>{{ swap_request.requester }}</strong>, {{ swap_request.requester_shift }}
                        <i class="fa fa-exchange" style="margin: 10px"></i>
                        <strong>{{ swap_request.responder }}</strong>, {{ swap_request.requested_shift }}
                    </div>
                    <div class="panel-footer">
                        <span class="hidden-id" style="visibility: hidden">{{ swap_request.id }}</span>
                        <span style="float: left">status: <strong>{{ swap_request.get_accept_step_display }}</strong></span>
                        <span style="float: right"> {{ swap_request.requested_at }} </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    No messages found
{% endif %}