{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Testapp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="{% static 'js/menu/inline.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/menu/polyfills.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/menu/styles.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/menu/vendor.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/menu/main.bundle.js' %}"></script></body>
</html>
